/* add code here to make your image 300px square */
img {
    height: 300px;
     
    }

/* add code here to change the color and font family of your name/title */

h1 {
    color: green; 
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Bonus: change the color of your list elements */

li {
    color: blue; 
}

.bold {
    font-weight: bold;
    color:blueviolet;
}

.normal {
    font-weight: normal;
    color:cadetblue;
}